body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#left-side {
    position: relative;
    width: 50%;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#right-side {
    width: 50%;
    background-color: #fff;
}

#game-container {
    position: relative;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    z-index: 10;
}

#kanye {
    width: 300px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    position: relative;
    z-index: 10; /* Ensure Kanye image is above the falling images */
}

.falling-image {
    position: absolute;
    width: 50px; /* Adjust size as needed */
    transition: opacity 5s ease-out, transform 5s linear; /* Smooth animation */
    z-index: 20; /* Ensure it's above Kanye image */
}


.dollar-image {
    z-index: 20; /* Ensure it's above Kanye image */
}

